.hidden {
    display: none;
}

body {
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* header */

.header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.addr {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

@media screen and (min-width: 768px) {
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
}

/* header-mobile-menu */

.open-menu {
    padding: 0;
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .open-menu {
        display: none;
    }
}

.open-menu-icon {
    display: block;
    fill: #2f2f37;
}

/* .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

} */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:hover,
.menu-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.menu-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn-icon:hover,
.menu-close-btn-icon:focus {
    fill: #fff;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

/* .mobile-menu-nav-list {
    /* margin-bottom: auto; */
/* margin-bottom: 24px; */


/* .mobile-menu-nav-list {
    margin-bottom: 48px;
}  */

.mobile-menu-addr {
    margin-bottom: 48px;
}

.mobile-menu-nav-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 40px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.mobile-menu-contacts-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    /* margin-bottom: 24px; */
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link,
.mobile-menu-contacts-link {
    color: #2e2f42;
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus,
.mobile-menu-contacts-link:hover,
.mobile-menu-contacts-link:focus,
.mobile-menu-nav-link.current {
    color: #404bbf;
}

/* .mobile-menu-social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

} */


.mobile-menu-social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    width: 100%;
    /* padding-left: 16px;
    padding-right: 16px; */
}

.mobile-menu-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.mobile-menu-social-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link-icon:hover,
.mobile-menu-social-link-icon:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}


/* .mobile-menu-social-icon {
    width: 40px;
    height: 40px;
    fill: #4d5ae5;
} */


/* .mobile-menu-social-link-icon {
    width: 24px;
    height: 24px;
    fill: #4d5ae5;
    border-radius: 50%;
} */



@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding: 24px 0;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .nav-link:hover,
    .nav-link:focus,
    .addr-link:hover,
    .addr-link:focus,
    .nav-link.current {
        color: #404bbf;
    }

    .addr {
        display: flex;
        font-style: normal;
        margin-left: auto;
    }

    .addr-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .addr-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: block;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .addr-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .addr-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}

/* hero */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding: 72px 0;
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding: 112px 0;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        /* background-color: #2e2f42; */
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        /* background-repeat: no-repeat; */
        /* background-size: cover; */
        /* background-position: center; */
        max-width: 1440px;
        /* margin-right: auto; */
        /* margin-left: auto; */
        padding: 188px 0;
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
    max-width: 216px;
}

@media screen and (min-width: 768px) {
    .hero-title {
        /* font-weight: 700; */
        font-size: 56px;
        line-height: 1.07;
        /* letter-spacing: 0.02em; */
        /* text-align: center; */
        /* color: #fff; */
        /* margin-right: auto; */
        margin-bottom: 36px;
        /* margin-left: auto; */
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-title {
        /* font-weight: 700; */
        /* font-size: 56px; */
        /* line-height: 1.07; */
        /* letter-spacing: 0.02em; */
        /* text-align: center; */
        /* color: #fff; */
        /* margin-right: auto; */
        margin-bottom: 48px;
        /* margin-left: auto; */
        /* max-width: 496px; */
    }
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* section1 feature */

.feature-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .feature-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .feature-item {
        width: calc((100% - 24px) /2);
    }
}

@media screen and (min-width: 1158px) {
    .feature-list {
        display: flex;
        gap: 24px;
    }

    .feature-item {
        width: calc((100% - 72px) /4);
    }
}

.feature-cont-icon {
    display: none;
}

@media screen and (min-width: 1158px) {
    .feature-cont-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }
}

.feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .feature-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .feature-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.feature-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
    .feature-text {
        font-weight: 400;
    }
}

/* section2 Team card */

.team-section {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

    /* .team-item {
        width: calc((100% - 24px) /2);
    } */
}

@media screen and (min-width: 1158px) {
    .team-list {
        display: flex;
        gap: 24px;
    }

    .team-item {
        /* background-color: #fff; */
        /* border-radius: 0 0 4px 4px; */
        width: calc((100% - 72px) /4);
        /* box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08); */
    }
}